input[type=checkbox]{	# 隱藏預設樣式
    visibility: hidden;
}

input[type="checkbox"] + label::before {
    content: "\a0";  /*不換行空格*/
    display: inline-block;
    width: 5vw;  /*設定選框的寬度*/
    height: 5vw;  /*設定選框的高度*/
    margin-right: 4vw;	/*選框距離label文字的距離*/
    margin-left: -2vw;	/*選框拒了左邊界的距離*/
    border-radius: 1vw;	/*選框的圓角屬性*/
    background-color: silver;
    text-indent: 0vw;
    line-height: 5.2vw;	/*涉及對鉤的位置*/
    vertical-align: 0vw;
}

input[type="checkbox"]:checked + label::before {
    content: "\2714";	/*選中時的樣式 \2713是較細的對鉤*/
    color: #FFFFFF;		/*樣式的顏色*/
    background-color: yellowgreen;	/*選中的背景色*/
}

.tab_1 label{	/*label字型的樣式*/
    width: 60vw;
    height: 16vw;
    font-family: PingFangSC-Regular;
    font-size: 4.3vw;
    color: #000000;
}