
/* 星星的形狀 */
.rating_star
{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row-reverse;
}
/* 隱藏核取方塊 */
.rating_star input
{
    display: none; 
}

.rating_star label{
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating_star label::before
{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #666666;
}

.rating_star label::after
{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #ffd856;
    top: 0;
    opacity: 0;
    transition: .3s;
    text-shadow: 0 2px 5px rgba(63, 63, 63, 0.5) ;
}

.rating_star label:hover::after, 
.rating_star label:hover ~ label::after,
.rating_star input:checked ~ label::after
{
    opacity: 1;
}

/*愛心*/

.red-heart{
    color: #f44336;
    cursor: pointer;
}

.heart{
    color: #61616130; 
    cursor: pointer;
}
.heart:hover{ color: #f44336;}