<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purchase notice</title>
</head>
<body>
    <p>親愛的{{user_nickname}}，您好：</p>
    <p>您所訂購的課程方案已成立，歡迎前往 <a style="color: #e03e2d; background-color: #fbeeb8;" href="http://www.quikok.com/"><strong>課程預約</strong></a>。</p>
    <p><strong>訂購資訊：</strong><br />教師姓名：{{teacher_nickname}}<br />課程名稱：{{lesson_title}}<br />訂購方案：{{lesson_set}}<br />訂單金額：{{price}}<br />Q幣折抵金額：{{q_discount}}</p>
    <p><strong><span style="background-color: #fbeeb8; color: #e03e2d; font-size: 20px;">應付款金額(Q幣折抵後)：{{purchasing_price}}元</span></strong></p>
    <p>&nbsp;</p>
    <div style="display: flex;">
        <p><a title="https://www.quikok.com/landing" href="https://www.quikok.com/landing"><img style="width: 120px; margin-right: 10px;" tabindex="-1" src="https://www.quikok.com/user_upload/articles/2020/12/30/quikok_logo.jpg" /></a></p>
        <p>台北市信義區忠孝東路五段一之二號五樓<br /><a href="http://www.quikok.com/">www.quikok.com</a></p>
    </div>
</body>
</html>