<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher_send_remind_order</title>
</head>
<body>
    <p>親愛的{{teacher_nickname}}，您好：</p>
    <p>{{user_nickname}}已向您的課程提出預約申請。</p>
    <p><strong>預約資訊：</strong><br />課程名稱：{{lesson_title}}<br />預約時間：{{booking_date_and_time}}<br /></p>
    <p><a style="color: #e03e2d; background-color: #fbeeb8;" href="http://www.quikok.com/"><strong>答覆預約【預約管理】（點我前往）</strong></a>。</p>
    
    <div style="display: flex;">
        <p><a title="https://www.quikok.com/landing" href="https://www.quikok.com/landing"><img style="width: 120px; margin-right: 10px;" tabindex="-1" src="https://www.quikok.com/user_upload/articles/2020/12/30/quikok_logo.jpg" /></a></p>
        <p>台北市信義區忠孝東路五段一之二號五樓<br /><a href="http://www.quikok.com/">www.quikok.com</a></p>
    </div>
</body>
</html>