*.pyc
quikok_env/
.vscode/settings.json
/static/
/logs/devlop_logs/*
/logs/production_logs/*
/user_upload/teachers/*
/user_upload/students/*
!/user_upload/teachers/quikok.taiwan@quikok.com/
!/user_upload/teachers/quikok.system1@quikok.com/
!/user_upload/teachers/quikok.system2@quikok.com/
!/user_upload/teachers/quikok.system3@quikok.com/
!/user_upload/teachers/quikok.system4@quikok.com/
!/user_upload/students/student_system5@quikok.com/
!/user_upload/students/student_system6@quikok.com/
!/user_upload/students/student_system7@quikok.com/
!/user_upload/students/student_system8@quikok.com/
!/user_upload/students/student_system9@quikok.com/
