
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>您有一則新訊息</title>
</head>
<body>
    <p>親愛的{{user_nickname}}，您好：</p>
    <p>您有一則未讀留言訊息，請務必盡快回覆訊息<a style="color: #e03e2d; background-color: #fbeeb8; font-weight: 600;" href="https://www.quikok.com/">【Quikok站內聊天室】</a>增加家長/學生媒合機會，並獲得更好系統排名！。
    <p>&nbsp;</p>
    <div style="display: flex;">
    <p><a title="https://www.quikok.com/landing" href="https://www.quikok.com/landing"><img style="width: 120px; margin-right: 10px;" tabindex="-1" src="https://www.quikok.com/user_upload/articles/2020/12/30/quikok_logo.jpg" /></a></p>
    <p>台北市信義區忠孝東路五段一之二號五樓<br /><a href="http://www.quikok.com/">www.quikok.com</a></p>
    </div>
</body>
</html>