<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic" rel="stylesheet"
        type="text/css">
    <link rel="icon" href="/static/favicon.png">
    <title>Quikok Blog Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/blog.css">
</head>

<body>

    <div class="main container">
        <div class="pic">
            <img src=" {{ article_main_picture.url }} " alt="...">
        </div>
        <div class="row">
            <div class="article col-md-10">
                <div class="timename">
                    <span class="time">{{article_date}}</span>
                    <span class="name">{{article_author}}</span>
                </div>
                <h1 class="title">{{article_title}}</h1>
                <span>{{article_category}}</span>
                {{article_content | safe}}
                
                <div class="hashtag">
                    {% for each_hashtag in article_hashtags %}
                    <span>{{ each_hashtag }}</span>
                    {% endfor %}
                </div>
                
                <div class="author">
                    <p>作者介紹</p>
                    <div class="author-information">
                        <img src=" {{ author_thumbnail.url }} " alt="" width="100" height="100">
                        <div class="author-text">
                            <p style="font-weight: bold;">{{ article_author }}</p>
                            <p>{{ article_author_introduction }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-list col-md-2">
                <div class="article-title">
                    <h1>文章分類</h1>
                </div>

                {% for each_unique_category in all_unique_categories %}
                    <button class="collapse-btn" type="button" data-toggle="collapse" data-target="#menu01"
                        aria-expanded="false" aria-controls="menu01" style="display: block;">
                        {{ each_unique_category }}
                    </button>
                    <div class="article-name collapse" id="menu01">
                        <ul>
                            {% for each_article in the_articles %}
                                {% if each_article.category == each_unique_category %}
                                    <li>
                                        <a href="{% url 'aritcle_content' article_id=each_article.id %}">{{ each_article.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</body>

</html>