<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher_send_order_success</title>
</head>
<body>
    <p>親愛的{{teacher_nickname}}，您好：</p>
    <p>您開設的{{lesson_title}}課程已被訂購，<a style="color: #e03e2d; background-color: #fbeeb8;" href="https://www.quikok.com/account/finance"><strong>請至【帳務中心】（點我前往）</strong></a>查看相關資訊。</p>
    <p><strong>售課資訊：</strong><br />學生姓名：{{user_nickname}}<br />課程名稱：{{lesson_title}}<br />訂購方案：{{lesson_set}}<br />訂單金額：{{price}}</p>
    <p>&nbsp;</p>
    <div style="display: flex;">
        <p><a title="https://www.quikok.com/landing" href="https://www.quikok.com/landing"><img style="width: 120px; margin-right: 10px;" tabindex="-1" src="https://www.quikok.com/user_upload/articles/2020/12/30/quikok_logo.jpg" /></a></p>
        <p>台北市信義區忠孝東路五段一之二號五樓<br /><a href="http://www.quikok.com/">www.quikok.com</a></p>
    </div>
</body>
</html>