{% extends 'base_layout_no_elements.html' %}
{% load static %}

{% block content %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<body style="font-family: Microsoft Yahei;">

  <div class="text-center">
    <a href="{% url 'home' %}">
      <img class="img-fluid mb-4 mt-5 center" src="{%static 'IMG/Quikok_Logo_s.png'%}" alt="" width="200">
    </a>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="progress mt-1" style="height: 45px;">
        <div class="progress-bar border border-white" role="progressbar" style="width: 25%" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">1 輸入帳號</a>
        </div>
        <div class="progress-bar border border-white" role="progressbar"
          style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">2 身份認證</a>
        </div>
        <div class="progress-bar progress-bar-striped progress-bar-animated border border-white" role="progressbar" style="width: 25%" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">3 重設密碼</a>
        </div>
        <div class="progress-bar bg-info border border-white" role="progressbar" style="width: 25%" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">4 設定完成</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-md-6 col-lg-4 col-xl-4 offset-md-3 offset-lg-4 offset-xl-4">
      <form class="form-signin" method='POST'>
        {% csrf_token %}
          <div class="row mt-5">
            <div class="col">
              <h3>設定密碼</h3>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <a>請輸入您要設定的密碼，最少8位數</a>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <input type="password"" id="password" name='password' class=" form-control" placeholder="" required autofocus>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <a>請再次輸入您的密碼</a>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <input type="password"" id="re_password" name='re_password' class=" form-control" placeholder="" required autofocus>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">送出</button>
            </div>
          </div>
          {% if passwords_not_match %}
          <div class="row">
            <div class="col">
              <div class="alert alert-danger mt-2 mb-2" style="height: 70%; font-size: 16px;
            text-align: justify;margin-bottom: 1px;line-height: 30px;padding: 0px 15px;" role="alert">
                兩次密碼不一致唷。
              </div>
            </div>
          </div>
          {% endif %}

          <p class="mt-3 mb-3 text-muted" style="font-size: 15px;">&Delta; 如果有遇到任何困難，請來信xxx@quikok.com.tw讓我們為您服務。</p>
      </form>

  </div>
</body>

</html>
{% endblock %}