{% extends 'base_layout_no_elements.html' %}
{% load static %}

{% block content %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<body style="font-family: Microsoft Yahei;">

  <div class="text-center">
    <a href="{% url 'home' %}">
      <img class="img-fluid mb-4 mt-5 center" src="{%static 'IMG/Quikok_Logo_s.png'%}" alt="" width="200">
    </a>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="progress mt-1" style="height: 45px;">
        <div class="progress-bar border border-white" role="progressbar" style="width: 25%" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">1 輸入帳號</a>
        </div>
        <div class="progress-bar border border-white" role="progressbar"
          style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">2 身份認證</a>
        </div>
        <div class="progress-bar border border-white" role="progressbar" style="width: 25%" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">3 重設密碼</a>
        </div>
        <div class="progress-bar border border-white" role="progressbar" style="width: 25%" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">
          <a style="font-size: 18px;">4 設定完成</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row text-center">
    <div class="col col-md-6 col-lg-4 col-xl-4 offset-md-3 offset-lg-4 offset-xl-4">
      <form class="form-signin" method='POST'>
        {% csrf_token %}
          <div class="row mt-5">
            <div class="col">
              <h3>密碼重新設定成功</h3>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col">
              <a>請點此返回「Quikok! 開課」首頁: <a href="{% url 'home' %}">首頁連接</a></a>
            </div>
          </div>

          

      </form>

  </div>
</body>

</html>
{% endblock %}