{% extends 'base_layout_no_elements.html' %}
{% load static %}

{% block content %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<body class="text-center" style="font-family: Microsoft Yahei;">


  <div class="row align-items-center">
    <div class="col col-md-6 col-lg-5 col-xl-3 col-centered">
      <img class="img-fluid mb-4 mt-5" src="{%static 'IMG/Quikok_Logo_s.png'%}" alt="" width="200">
      <h4 class="h3 mb-3 mt-3 font-weight-normal">請登入</h4>
      <form class="form-signin" method='POST'>
        {% csrf_token %}

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="username"" name='username' class=" form-control" placeholder="您註冊的email帳號" required
          autofocus value="{{username}}">
        <label for="inputPassword" class="sr-only">密碼</label>
        <input type="password" id="password" name='password' class="form-control" placeholder="密碼" required>

        {% if password_not_match %}
        <div class="row">
          <div class="col">
            <div class="alert alert-danger mt-2 mb-2" style="height: 30px; font-size: 16px;
            text-align: justify;margin-bottom: 1px;line-height: 30px;padding: 0px 15px;" role="alert">
              您輸入的密碼錯誤，請再次確認唷。
            </div>
          </div>
        </div>
        {% elif user_not_match %}
        <div class="row">
          <div class="col">
            <div class="alert alert-danger mt-2 mb-2" style="height: 30px; font-size: 16px;
            text-align: justify;margin-bottom: 1px;line-height: 30px;padding: 0px 15px;" role="alert">
              系統查無此帳號，請您再次確認唷。
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-6">
            <div class="checkbox mb-2 mt-2">
              <label>
                <input type="checkbox" value="remember-me"">
                <a style="font-size: 16px;"> 記得我的登入資訊</a>
              </label>
            </div>
          </div>
          <div class="col-3 mb-2 mt-2">
              <a style="font-size: 16px; color:rgb(107, 98, 236);" href="http://127.0.0.1:8000/account/dev_forgot_password_1/">忘記密碼</a>
          </div>
          <div class="col-3 mb-2 mt-2">
              <a style="font-size: 16px; color:rgb(107, 98, 236);" href="http://127.0.0.1:8000/account/user_signup">會員註冊</a>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">登入</button>
        <p class="mt-3 mb-3 text-muted">&copy; 2020</p>
      </form>
    </div>
  </div>
</body>

</html>
{% endblock %}