<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student_send_sign_up_success</title>
</head>
<body>
    <p>親愛的{{user_nickname}}，您好：</p>
    <p>感謝您成為Quikok學習會員，</p>
    <p><a style="color: #be320b; background-color: #ffeeb0;" href="https://www.quikok.com/landing"><strong>快來看看有哪些有趣的課程吧！（點我前往）</strong></a>。</p>
    
    <div style="display: flex;">
        <p><a title="https://www.quikok.com/landing" href="https://www.quikok.com/landing"><img style="width: 120px; margin-right: 10px;" tabindex="-1" src="https://www.quikok.com/user_upload/articles/2020/12/30/quikok_logo.jpg" /></a></p>
        <p>台北市信義區忠孝東路五段一之二號五樓<br /><a href="http://www.quikok.com/">www.quikok.com</a></p>
    </div>
</body>
</html>