{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<h1>hi</h1>
<div class="container mt-3" style="font-family: Microsoft Yahei;">
    
    
        <form method="post" enctype="multipart/form-data" >
            <div class="row mt-5">
                {% csrf_token %}
                <div class="col-5">
                    <label for="userID"><strong>auth_id</strong></label>
                    <input type="text" class="form-control" name="userID">
                    <label for="action"><strong>createLesson or editLesson</strong></label>
                    <input type="text" class="form-control" name="action">
                    <label for="big_title"><strong>大標題</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="big_title">
                    <label for="username"><strong>小標題</strong></label>
                    <input type="text" class="form-control" id="little_title" name="little_title">
                    <label for="username"><strong>預設背景號碼</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="default_background_picture">
                    <label for="username"><strong>上傳圖片</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="background_picture">
                    <label for="username"><strong>課程名稱</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="lesson_title">
                    <label for="username"><strong>鐘點費</strong></label>
                    <input type="text" class="form-control" name="lesson_title">
                    <label for="trial_class_price"><strong>試教費</strong></label>
                    <input type="text" class="form-control" name="trial_class_price">
                    <label for="discount_price"><strong>多堂優惠</strong></label>
                    <input type="text" class="form-control" name="discount_price">
                    <label for="username"><strong>亮點一</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="highlight_1">
                    <label for="username"><strong>亮點二</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="highlight_2">
                    <label for="username"><strong>亮點三</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="highlight_3">
                    <label for="username"><strong>課程介紹</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="lesson_intro">
                    <label for="username"><strong>上課方式</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="how_does_lesson_go">
                    <label for="username"><strong>授課對象</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="target_students">
                    <label for="username"><strong>大綱</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="syllabus">
                    <label for="username"><strong>備註</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="lesson_remarks">
                    <label for="username"><strong>標籤</strong></label>
                    <input type="text" class="form-control" id="bigtitle" name="lesson_attributes">
                    
                </div>
                <div class="col-7 text-center">
                    <input class="btn btn-primary" type="submit"
                        role="button" value=確定>
                </div>
            </div>
        </form>
    
</div>

{% endblock %}