{% extends 'base_layout_no_search.html' %} {% block content %}{% load static %}
<!--搜尋區塊-->


    <div class="container  mb-5" style="margin-top: 30px">
        <div class="input-group input-group-lg mt-6">
            <input type="text" class="form-control" placeholder="科目或老師名稱" aria-label="subject or teacher"
                aria-describedby=" button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜尋</button>
            </div>
        </div>
    </div>

    <!--很多filter的區塊-->

    <!--條件區塊-->
    <div class="container mt-7 " style="background-color: #F2F2F2 ;">
        <!--排列順序-->
        <div class="row">
            <form method="POST">
                <div class="col-12">
                    <div class="mb-3 btn-group btn-group-toggle" data-toggle="buttons">
                        <!--{% csrf_token %}-->
                        <button type="button" class="btn btn-light mr-5 disabled">科目</button>
                        <label class="btn btn-outline-info ml-2 mr-2" id="subjects_btn1" for ="subject_english">
                            <input type="checkbox" name="subjects" id="subject_english" autocomplete="off"> 英文
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="subjects_btn2">
                            <input type="checkbox" name="subjects" id="subject_toffel" autocomplete="off"> 托福
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="subjects_btn3">
                            <input type="checkbox" name="subjects" id="subject_math" autocomplete="off"> 數學
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="subjects_btn4">
                            <input type="checkbox" name="subjects" id="subject_physics" autocomplete="off"> 物理
                        </label>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-12">

                    <button type="button" class="btn btn-light mr-2 disabled">學生年齡</button>


                        <div class=" mb-3 btn-group btn-group-toggle" data-toggle="buttons">
                        
                        <!--{% csrf_token %}-->
                    
                        <label class="btn btn-outline-info ml-2 mr-2" id="student_age_btn1">
                            <input type="checkbox" name="student_age" id="student_age_junior" autocomplete="off"> 國中
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="student_age_btn2">
                            <input type="checkbox" name="student_age" id="student_age_hight" autocomplete="off"> 高中
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="student_age_btn3">
                            <input type="checkbox" name="student_age" id="student_age_college" autocomplete="off"> 大學
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="student_age_btn4">
                            <input type="checkbox" name="student_age" id="student_age_adult" autocomplete="off"> 成人
                        </label>
                    </div>

            </div>
            <!--col-->
                <div class="col-md-12">
                    <div class="mb-3 btn-group btn-group-toggle" data-toggle="buttons">

                        <button type="button" class="btn btn-light mr-2 disabled">上課時間</button>
                        <!--{% csrf_token %}-->
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn1">
                            <input type="checkbox" name="class_time" id="class_time_weekday" autocomplete="off"> 平日
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn2">
                            <input type="checkbox" name="class_time" id="class_time_weekend" autocomplete="off"> 周末
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn3">
                            <input type="checkbox" name="class_time" id="class_time_morning" autocomplete="off"> 早上
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn4">
                            <input type="checkbox" name="class_time" id="class_time_afternoon" autocomplete="off"> 下午
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn5">
                            <input type="checkbox" name="class_time" id="class_time_evening" autocomplete="off"> 晚上
                        </label>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-12 text-left">
                    <div class="mb-3 btn-group btn-group-toggle" data-toggle="buttons">
                        <button type="button" class="btn btn-light mr-2 disabled">老師教學經驗</button>

                        <!--{% csrf_token %}-->
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn1">
                            <input type="checkbox" name="class_time" id="subject_english" autocomplete="off"> 0~1年
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn2">
                            <input type="checkbox" name="class_time" id="subject_toffel" autocomplete="off"> 1~3年
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn3">
                            <input type="checkbox" name="class_time" id="subject_math" autocomplete="off"> 3~5年
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="class_time_btn4">
                            <input type="checkbox" name="class_time" id="subject_physics" autocomplete="off"> 5 年以上
                        </label>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-12">
                    <div class="mb-3 btn-group btn-group-toggle" data-toggle="buttons">
                        <p>鐘點費區間</p>
                        <!--{% csrf_token %}-->
                        <label class="btn btn-outline-info ml-2 mr-2" id="fee_btn1">
                            <input type="checkbox" name="class_fee" id="fee_under500" autocomplete="off"> 500以下
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="fee_btn2">
                            <input type="checkbox" name="class_fee" id="fee_under1000" autocomplete="off"> 500~1000
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="fee_btn3">
                            <input type="checkbox" name="class_fee" id="fee_under2000" autocomplete="off"> 1000~2000
                        </label>
                        <label class="btn btn-outline-info ml-2 mr-2" id="fee_btn4">
                            <input type="checkbox" name="class_fee" id="fee_above1000" autocomplete="off"> 2000 以上
                        </label>
                    </div>
                </div>
                <!--col-->
        </div>
        <!--row-->
    </div>
    <!--container-->
    </form>



    <!--排序條件區塊-->
    <div class="container ">
        <!--排列順序-->

        <div class="mt-5 mb-5 ml-5 mr-5 btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-info ml-2 mr-2" id="btn1">
                <input type="checkbox" name="options" id="option1" autocomplete="off"> 熱門優先
            </label>
            <label class="btn btn-outline-info ml-2 mr-2" id="btn2">
                <input type="checkbox" name="options" id="option2" autocomplete="off"> 高完課量優先
            </label>
            <label class="btn btn-outline-info ml-2 mr-2" id="btn3">
                <input type="checkbox" name="options" id="option3" autocomplete="off"> 高評價優先
            </label>
            <label class="btn btn-outline-info ml-2 mr-2" id="btn3">
                <input type="checkbox" name="options" id="option3" autocomplete="off"> 低價優先
            </label>
        </div>
    </div>


    <!--熱門老師區塊-->
    <div class="mt-5 container" id="fabulous_teachers">
        <div class="row">
            <div class="col-sm-3 mb-4">
                <div class="card">
                    <img src="{% static 'IMG/1267.jpg' %}" class=" card-img-top" alt="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">老師名稱</h5>
                        <h5 class="card-title">專業科目</h5>
                        <p class="card-text">老師介紹等等This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                        <a href="#" class="card-link">預約試教</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card">
                    <img src="{% static 'IMG/OEKDFF0.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">番茄姐姐英文救星陽光正面教學活潑</h5>
                        <p class="card-text">建議固定這些區域字數設定This is a longer card with supporting text below as a natural
                            lead-in
                            to additional content. This content is a little bit longer.</p>
                        <a href="#" class="card-link">預約試教</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card">
                    <img src="{% static 'IMG/1267.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content.</p>
                        <a href="#" class="card-link">預約試教</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card">
                    <img src="{% static 'IMG/OEKDFF0.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                        <a href="#" class="card-link">預約試教</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}