<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student_send_complete_course</title>
</head>
<body>
    <p>親愛的{{student_nickname}}，您好：</p>
    <p>恭喜你，完成課程了！</p>
    <p>請協助至<a style="color: #be320b; background-color: #ffeeb0;" href="http://www.quikok.com/account/study"><strong>【學習歷程】（點我前往）</strong></a>確認時數及回饋課程評價呦。</p>
    
    <div style="display: flex;">
        <p><a title="https://www.quikok.com/landing" href="https://www.quikok.com/landing"><img style="width: 120px; margin-right: 10px;" tabindex="-1" src="https://www.quikok.com/user_upload/articles/2020/12/30/quikok_logo.jpg" /></a></p>
        <p>台北市信義區忠孝東路五段一之二號五樓<br /><a href="http://www.quikok.com/">www.quikok.com</a></p>
    </div>
</body>
</html>